/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  color: #000;
  line-height: 1.5;
  font-family: "Meiryo", sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}

#header {
  height: 100px;
  background-color: #000;
  padding: 19px 30px 0 30px;
}

#logo {
  padding: 19px 0;
  float: left;
  color: #f00;
  font-size: 36px;
  line-height: 1.1;
  font-weight: normal;
  font-family: 'Abril Fatface', cursive;
}

.menu,
.menu span {
  display: inline-block;
  -webkit-transition: .4s;
  transition: .4s;
  box-sizing: border-box;
}

.menu {
  float: right;
  width: 28px;
  height: 25px;
  position: relative;
  display: block;
  margin-top: 26px;
}

.menu span {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
}

.menu span:nth-child(1) {
  top: 0;
}

.menu span:nth-child(2) {
  top: 10px;
}

.menu span:nth-child(3) {
  bottom: 0;
}

.menu.active span:nth-child(1) {
  top: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu.active span:nth-child(2) {
  top: 20px;
  opacity: 0;
}

.menu.active span:nth-child(3) {
  top: 20px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#gnav {
  position: absolute;
  top: 85px;
  width: 85%;
  display: none;
  z-index: 1;
}

#gnav li {
  list-style-type: none;
  border-bottom: 1px solid #000;
}

#gnav li:last-child {
  border-bottom: none;
}

#gnav a {
  display: block;
  background-color: #88b3da;
  line-height: 1.1;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

@media screen and (min-width: 960px) {
  #logo {
    font-size: 48px;
    margin-right: 165px;
  }
  .menu {
    display: none;
  }
  #gnav {
    width: 100%;
    position: static;
    display: block;
  }
  #gnav li {
    border-bottom: none;
  }
  #gnav a {
    margin-top: 30px;
    margin-right: 20px;
    float: left;
    background: none;
    font-size: 24px;
  }
}

@media screen and (min-width: 1170px) {
  #header {
    padding: 19px 40px 0 40px;
  }
  #logo {
    margin-right: 175px;
  }
  #gnav a {
    margin-right: 45px;
    font-size: 30px;
  }
}

#main-visiul {
  background-image: url(../img/top_image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 649px;
  position: relative;
}

#main-visiul #main-visiul-title {
  color: #f00;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
}

#main-visiul #main-visiul-title span {
  display: block;
  font-size: 36px;
  font-family: 'Changa One', cursive;
}

#top-about {
  padding: 44px 0 44px 0;
  background-color: #88b3da;
}

.bg {
  background-color: #fff;
  padding: 32px 26px 37px 26px;
  margin: 44px 67px;
  box-sizing: border-box;
  border-radius: 10px;
}

.section-title {
  color: #f00;
  font-size: 30px;
  font-family: 'Changa One', cursive;
  text-align: center;
  margin-bottom: 33px;
}

.title-sub {
  font-size: 18px;
  text-align: center;
  margin-bottom: 31px;
}

.title-sub span {
  font-family: 'Timmana', sans-serif;
}

.title-sub span a {
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

.text-1 {
  text-align: center;
  margin-bottom: 20px;
}

.bg2 {
  text-align: center;
  padding: 32px 26px 37px 26px;
  margin: 75px 0 67px 0;
}

#top-works {
  padding: 44px 0 44px 0;
  background-color: #88b3da;
}

.bg3 {
  background-color: #fff;
  padding: 32px 26px 37px 26px;
  margin: 44px 67px;
  box-sizing: border-box;
  border-radius: 10px;
}

.works {
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}

.works li {
  list-style-type: none;
  display: inline-block;
  margin: 0 31px 28px 31px;
  position: relative;
}

#bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 110;
}

#samplesite {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 120;
}

.form1 {
  margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
  #main-visiul #main-visiul-title {
    font-size: 54px;
  }
  #main-visiul #main-visiul-title span {
    font-size: 36px;
  }
  .title-sub {
    font-size: 20px;
  }
  .text-1 {
    font-size: 18px;
  }
  .text-2 {
    font-size: 18px;
  }
  .bg {
    padding: 32px 127px 54px 127px;
  }
  .bg3 {
    padding: 32px 80px 54px 80px;
  }
  .works li {
    margin-bottom: 36px;
  }
  .form1 p {
    font-size: 18px;
  }
}

@media screen and (min-width: 960px) {
  #main-visiul #main-visiul-title {
    font-size: 72px;
  }
  #main-visiul #main-visiul-title span {
    font-size: 48px;
  }
  .section-title {
    font-size: 36px;
  }
  .title-sub {
    font-size: 24px;
  }
  .text-1 {
    font-size: 20px;
  }
  .text-2 {
    font-size: 20px;
  }
  .form1 p {
    font-size: 24px;
  }
}

#footer {
  clear: both;
  background-color: #000000;
}

#footer p {
  text-align: center;
  padding: 34px 0;
  color: #fff;
  font-size: 16px;
}

@media screen and (min-width: 600px) {
  #footer p {
    font-size: 18px;
  }
}

#pagetop {
  display: block;
  width: 150px;
  line-height: 50px;
  text-align: center;
  background-color: #f00;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
