#footer {
    clear: both;
    background-color: #000000;
}

#footer p {
    text-align: center;
    padding: 34px 0;
    color: #fff;
    font-size: 16px;
}

@media screen and (min-width:600px) {
    #footer p {
        font-size: 18px;
    }
}