#header{
    background-color: #000;
}

#logo{
    padding: 19px 0;
    float: left;
    font-family: 'Abril Fatface', cursive;
}

#gnav{
    background-color: #88b3da;
    ul{
        font-family: 'Playfair Display', serif;
    }
}