#header {
    height: 100px;
    background-color: #000;
    padding: 19px 30px 0 30px;
}

#logo {
    padding: 19px 0;
    float: left;
    color: #f00;
    font-size: 36px;
    line-height: 1.1;
    font-weight: normal;
    font-family: 'Abril Fatface', cursive;
}

.menu,
.menu span {
    display: inline-block;
    -webkit-transition: .4s;
    transition: .4s;
    box-sizing: border-box;
}

.menu {
    float: right;
    width: 28px;
    height: 25px;
    position: relative;
    display: block;
    margin-top: 26px;
}

.menu span {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
}

.menu span:nth-child(1) {
    top: 0;
}

.menu span:nth-child(2) {
    top: 10px;
}

.menu span:nth-child(3) {
    bottom: 0;
}

.menu.active span:nth-child(1) {
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu.active span:nth-child(2) {
    top: 20px;
    opacity: 0;
}

.menu.active span:nth-child(3) {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#gnav {
    position: absolute;
    top: 85px;
    width: 85%;
    display: none;
    z-index: 1;
    li {
        list-style-type: none;
        border-bottom: 1px solid #000;
        &:last-child {
            border-bottom: none;
        }
    }
    a {
        display: block;
        background-color: #88b3da;
        line-height: 1.1;
        text-decoration: none;
        font-weight: normal;
        text-align: center;
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        color: #fff;
    }
}

@media screen and (min-width:600px) {
    
}

@media screen and (min-width:960px) {
    #logo {
        font-size: 48px;
        margin-right: 165px;
    }
    .menu {
        display: none;
    }
    #gnav {
        width: 100%;
        position: static;
        display: block;
        li {
            border-bottom: none;
        }
        a {
            margin-top: 30px;
            margin-right: 20px;
            float: left;
            background: none;
            font-size: 24px;
        }
    }
}

@media screen and (min-width:1170px) {
    #header {
        padding: 19px 40px 0 40px;
    }
    #logo {
        margin-right: 175px;
    }
    #gnav {
        a {
            margin-right: 45px;
            font-size: 30px;
        }
    }
}