#main-visiul {
    background-image: url(../img/top_image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    #main-visiul-title{
        color: #f00;
        font-size: 30px;
        line-height: 1.1;
        font-family: 'Abril Fatface', cursive;
        font-weight: normal;
//        white-space: nowrap;
        }
    #main-visiul-sub{
        color: #f00;
        font-size: 18px;
        font-family: 'Changa One', cursive;
        font-weight: normal;
        }
}

#top-about{
    padding: 44px 0 44px 0;
    background-color: #88b3da;
}

.bg{
    background-color: #fff;
    padding: 32px 15px 37px 26px;
    margin: 44px 67px;
    box-sizing: border-box;
    border-radius: 10px;
}

.section-title{
    color: #f00;
    font-size: 36px;
    font-family: 'Changa One', cursive;
    text-align: center;
    margin-bottom: 33px;
}

.title-sub{
    font-size: 18px;
    text-align: center;
    margin-bottom: 31px;
}

.text-1{
    text-align: center;
}

.bg2{
    text-align: center;
    padding: 32px 15px 37px 26px;
    margin: 75px 0 67px 0;
}

#top-works{
    padding: 44px 0 44px 0;
    background-color: #88b3da;
}

.works{
    width: 56%;
    margin: 0 auto;
}

.works li {
    list-style-type: none;
    float: left;
    width: 180px;
    height: 308px;
    margin: 0 62px 28px 0;
    position: relative;
}

.form1{
    margin-bottom: 30px;
}