
body{
    color: #000;
    line-height: 1.5;
    font-family: "Meiryo", sans-serif;
    font-size: 16px;
}

img{
    max-width: 100%;
    height: auto;
}

.cf::after{
    content: "";
    display: block;
    clear: both;
}

